@import "tailwindcss";

:root, body, #root {
  height: 100%;
}

/* Simple app-level tweaks */
body {
  font-feature-settings: "kern";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

