!.env.example
*.log
*.md
**/.DS_Store
**/dist
**/node_modules
.git
.history
.vscode
assets
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
deploy
docker-bake.hcl
docker-compose.yml
docs
LICENSE
Makefile
package.json
prettier.config.cjs
scripts
SECURITY.md
src/.env*
src/public/storage
src/storage
src/vendor
tests
VERSION
!src/README.md

