.git
.history
.vscode
node_modules
**/node_modules
**/dist
**/.DS_Store
src/vendor
src/storage
src/public/storage
src/.env*
!.env.example
docs
tests
CHANGELOG.md
LICENSE
SECURITY.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
VERSION
prettier.config.cjs
docker-compose.yml
scripts
assets
deploy
pwa
ui
docker-bake.hcl
Makefile
package.json
*.md
!src/README.md

