.git
.history
.vscode
node_modules
**/node_modules
**/dist
**/.DS_Store
src/storage
src/vendor
src/public/storage
cookies.txt
.env
.env.*
!.env.example
docs
tests
CHANGELOG.md
LICENSE
SECURITY.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
VERSION
prettier.config.cjs
docker-compose.yml
scripts
assets
deploy
pwa
ui
src/public/brand
src/storage/app
src/storage/framework/testing
src/resources/lang
src/resources/views
src/docs
src/tests
src/phpunit.xml
src/wait-for-db.php
src/artisan

src/brand
src/config/user-exports.php
src/config/scribe.php
src/config/horizon.php
src/config/logging.php
src/config/cache.php
src/config/session.php
src/config/auth.php
src/config/cors.php
src/config/filesystems.php
src/config/database.php
src/config/app.php
src/config/mail.php
src/config/notifications.php
src/config/queue.php
src/config/rate-limits.php
src/config/sanctum.php
src/config/services.php
src/database/factories
src/database/seeders
src/routes/console.php
src/routes/web.php
src/app/Channels
src/app/Console
src/app/Constants
src/app/Exceptions
src/app/Helpers
src/app/Jobs
src/app/Mail
src/app/Messages
src/app/Notifications
src/app/Policies
src/app/Providers
src/app/Rules
src/app/Services
src/app/Http/Controllers
src/app/Http/Middleware
src/app/Http/Requests
src/app/Http/Resources
src/bootstrap/providers.php
src/bootstrap/cache
src/public/index.php
src/public/robots.txt

